body {
	background: #A8C3DC;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:24px;
	margin: 15px;
}
.error {
	color:#FF0000;
}
.AVAILABLE {
	width:100%;
	background-color:#006600;
}
.PPU {
	width:100%;
	background-color: #FFCC00;
}

.SOLD {
	width:100%;
	background-color: #CC0000;
}
h2 {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:24px;
}
fieldset {
	margin: 15px;
}
.free-wall {
	margin: 15px;
}
.brick {
	width: 221.2px;
	
}
label {
	font-weight: bold;
}
.info {
	padding: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	color: #333;
}
.statusBtn {
	width:100%;
}
.brick img {
	margin: 0px;
	padding: 0px;
	display: block;
}
p {
	width:80%;
}
footer {
	width:100%;
	color:white;
	background: black;
	text-align: center;
	font-size: small;
}
#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
}
li #logo {
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}

.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #23395e;
	-webkit-box-shadow:inset 0px -3px 7px 0px #23395e;
	box-shadow:inset 0px -3px 7px 0px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:3px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*

body {
	background: #e8e8e8;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background: rgba(231, 231, 231, 0.43);
}

.brick {
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	border-radius: 3px;
	color: #333;
	border: none;
	width: 221.2px;
	background: rgb(135, 199, 135);
	padding:5px;
}

.brick .img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	display: block;
}

.brick h3, .brick h5 {
	text-shadow: none;
}

.free-wall {
  margin: 15px;
}

.info {
	padding: 15px;
	color: #333;
}
*/