body {
	background: rgba(40, 40, 40, 0.43);
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:15px;
	margin: 15px;

}
h2 {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:24px;
}
fieldset {
	margin: 15px;
}
.free-wall {
	margin: 15px;
}
.brick {
	width: 221.2px;
	
}
.info {
	padding: 15px;
	margin-bottom: 15px;
	color: #333;
}
.brick img {
	margin: 0px;
	padding: 0px;
	display: block;
}

footer {
	width:100%;
	color:white;
	background: black;
	text-align: center;
	font-size: small;
}
#mobile-header {
    display: none;
}
@media only screen and (max-width: 767px){
    #mobile-header {
        display: block;
    }
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*

body {
	background: #e8e8e8;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background: rgba(231, 231, 231, 0.43);
}

.brick {
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	border-radius: 3px;
	color: #333;
	border: none;
	width: 221.2px;
	background: rgb(135, 199, 135);
	padding:5px;
}

.brick .img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	display: block;
}

.brick h3, .brick h5 {
	text-shadow: none;
}

.free-wall {
  margin: 15px;
}

.info {
	padding: 15px;
	color: #333;
}
*/